<!DOCTYPE HTML>
<html lang="{{ language }}" class="{{ default_theme }}">
    <head>
        <!-- Book generated using mdBook -->
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        {{#if is_print }}
        <meta name="robots" content="noindex">
        {{/if}}
        {{#if base_url}}
        <base href="{{ base_url }}">
        {{/if}}


        <!-- Custom HTML head -->
        {{> head}}

        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <meta name="description" content="{{ description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#ffffff" />

        {{#if favicon_svg}}
        <link rel="icon" type="image/svg+xml" href="{{ path_to_root }}favicon.svg">
        {{/if}}
        {{#if favicon_png}}
        <link rel="shortcut icon" href="{{ path_to_root }}favicon.png">
        {{/if}}
        <link rel="stylesheet" href="{{ path_to_root }}css/variables.css">
        <link rel="stylesheet" href="{{ path_to_root }}css/general.css">
        <link rel="stylesheet" href="{{ path_to_root }}css/chrome.css">
        {{#if print_enable}}
        <link rel="stylesheet" href="{{ path_to_root }}css/print.css" media="print">
        {{/if}}

        <!-- Fonts -->
        <link rel="stylesheet" href="{{ path_to_root }}FontAwesome/css/font-awesome.css">
        {{#if copy_fonts}}
        <link rel="stylesheet" href="{{ path_to_root }}fonts/fonts.css">
        {{/if}}

        <!-- Highlight.js Stylesheets -->
        <link rel="stylesheet" href="{{ path_to_root }}css/highlight.css">
        <link rel="stylesheet" href="{{ path_to_root }}css/highlight-dark.css">

        <!-- Custom theme stylesheets -->
        {{#each additional_css}}
        <link rel="stylesheet" href="{{ ../path_to_root }}{{ this }}">
        {{/each}}

        {{#if mathjax_support}}
        <!-- MathJax -->
        <script async type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
        {{/if}}
    </head>
    <body class="sidebar-visible no-js">
    <div id="body-container">
        <!-- Provide site root to javascript -->
        <script type="text/javascript">
            var path_to_root = "{{ path_to_root }}";
            var default_theme = window.matchMedia("(prefers-color-scheme: dark)").matches ? "{{ preferred_dark_theme }}" : "{{ default_theme }}";
        </script>

        <!-- Work around some values being stored in localStorage wrapped in quotes -->
        <script type="text/javascript">
            try {
                var theme = localStorage.getItem('mdbook-theme');
                var sidebar = localStorage.getItem('mdbook-sidebar');

                if (theme.startsWith('"') && theme.endsWith('"')) {
                    localStorage.setItem('mdbook-theme', theme.slice(1, theme.length - 1));
                }

                if (sidebar.startsWith('"') && sidebar.endsWith('"')) {
                    localStorage.setItem('mdbook-sidebar', sidebar.slice(1, sidebar.length - 1));
                }
            } catch (e) { }
        </script>

        <!-- Set the theme before any content is loaded, prevents flash -->
        <script type="text/javascript">
            var theme;
            try { theme = localStorage.getItem('mdbook-theme'); } catch(e) { }
            if (theme === null || theme === undefined) { theme = default_theme; }
            var html = document.querySelector('html');
            html.classList.remove('{{ default_theme }}')
            html.classList.add(theme);
            var body = document.querySelector('body');
            body.classList.remove('no-js')
            body.classList.add('js');
        </script>

        <input type="checkbox" id="sidebar-toggle-anchor" class="hidden">

        <!-- Hide / unhide sidebar before it is displayed -->
        <script>
            var body = document.querySelector('body');
            var sidebar = null;
            var sidebar_toggle = document.getElementById("sidebar-toggle-anchor");
            if (document.body.clientWidth >= 1080) {
                try { sidebar = localStorage.getItem('mdbook-sidebar'); } catch(e) { }
                sidebar = sidebar || 'visible';
            } else {
                sidebar = 'hidden';
            }
            sidebar_toggle.checked = sidebar === 'visible';
            body.classList.remove('sidebar-visible');
            body.classList.add("sidebar-" + sidebar);
        </script>

        <nav id="sidebar" class="sidebar" aria-label="Table of contents">
            <div class="sidebar-scrollbox">
              <a id="logo" href="https://projectlibertylabs.github.io/siwa/">
                <?xml version="1.0" encoding="utf-8"?>
                <!-- Generator: Adobe Illustrator 27.4.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                	 viewBox="0 0 484.9 136.3" style="enable-background:new 0 0 484.9 136.3;" xml:space="preserve">
                <style type="text/css">
               	.st0{fill:#00B6AF;}
               	.st1{clip-path:url(#SVGID_00000092415911083059305350000007221903341907107465_);}
               	.st2{fill:#1A1A1A;}
                </style>
                <g>
               	<path class="st0" d="M0,1.5v68.9h12.1V49l24.3-10.4l-0.3-12.3L12.2,36.4V13H43V1.5H0L0,1.5z M58.8,13H75c5.3,0,9.6,2.6,9.6,8.3
                		s-4.3,8.4-9.6,8.4H58.8C58.8,29.7,58.8,13,58.8,13z M46.6,1.5v68.9h12.2V53.5l37.9,16.9V57.2L59.8,41.3h14.9c11.8,0,22-7.6,22-19.9
                		S86.5,1.5,74.7,1.5H46.6L46.6,1.5z M100.3,1.5v68.9h42.9V58.8h-30.8V41.6h30.8V30.1h-30.8V13h30.8V1.5H100.3L100.3,1.5z M258.8,1.5
                		v47.1c0,7.1-5.1,11.9-12.1,11.9s-12-4.8-12-11.9V1.5h-12.1v46.9c0,13.9,10.8,23.4,24.2,23.4c13.4,0,24.2-9.6,24.2-23.4V1.5H258.8
                		L258.8,1.5z M274.6,1.5v68.9h42.9V58.8h-30.8V41.6h30.8V30.1h-30.8V13h30.8V1.5H274.6L274.6,1.5z M359.6,1.5V48L334.4,1.5h-13.1
                		v68.9h11.9V24l25.4,46.4h13V1.5H359.6L359.6,1.5z M472,1.5l-9.6,25.9l-10-25.9H439l29.2,68.9h12.6l-12.1-28.7l16.2-40.1h-12.8
                		C472,1.6,472,1.5,472,1.5z M158.5,35.9c0-13.5,10.9-24.5,24.5-24.5s24.5,10.9,24.5,24.5c0,4.3-1,8.5-3.3,12.3L177,31.4v13.7
                		l19.1,11.6c-4,2.4-8.5,3.8-13.2,3.8c-13.4,0.1-24.3-10.6-24.4-24L158.5,35.9 M182.9,0c-19.8,0.1-35.9,16.2-35.8,36
                		s16.2,35.9,36,35.8c8.6,0,16.9-3.2,23.4-8.8l12.2,7.4V57.2l-4.8-2.9c3.2-5.6,4.8-11.9,4.8-18.3c0.2-19.7-15.7-35.8-35.3-35.9
                		C183.2,0.1,183.1,0.1,182.9,0L182.9,0z M411.1,0c-19.8,0-36,16-36,35.9s16,36,35.9,36c11.5,0,22.2-5.4,28.9-14.6l-8.4-8.4
                		c-4.1,7.4-12,11.9-20.4,11.7c-13.9,0-24.3-10.6-24.3-24.5s10.5-24.6,24.3-24.6c8.4-0.2,16.3,4.3,20.4,11.8l8.4-8.4
                		C433.2,5.3,422.5-0.1,411.1,0L411.1,0z"/>
               	<g>
                		<g>
               			<defs>
                				<path id="SVGID_1_" d="M0,1.5v68.9h12.1V49l24.3-10.4l-0.3-12.3L12.2,36.4V13H43V1.5H0L0,1.5z M58.8,13H75
               					c5.3,0,9.6,2.6,9.6,8.3s-4.3,8.4-9.6,8.4H58.8C58.8,29.7,58.8,13,58.8,13z M46.6,1.5v68.9h12.2V53.5l37.9,16.9V57.2L59.8,41.3
               					h14.9c11.8,0,22-7.6,22-19.9S86.5,1.5,74.7,1.5H46.6L46.6,1.5z M100.3,1.5v68.9h42.9V58.8h-30.8V41.6h30.8V30.1h-30.8V13h30.8
               					V1.5H100.3L100.3,1.5z M258.8,1.5v47.1c0,7.1-5.1,11.9-12.1,11.9s-12-4.8-12-11.9V1.5h-12.1v46.9c0,13.9,10.8,23.4,24.2,23.4
               					c13.4,0,24.2-9.6,24.2-23.4V1.5H258.8L258.8,1.5z M274.6,1.5v68.9h42.9V58.8h-30.8V41.6h30.8V30.1h-30.8V13h30.8V1.5H274.6
               					L274.6,1.5z M359.6,1.5V48L334.4,1.5h-13.1v68.9h11.9V24l25.4,46.4h13V1.5H359.6L359.6,1.5z M472,1.5l-9.6,25.9l-10-25.9H439
               					l29.2,68.9h12.6l-12.1-28.7l16.2-40.1h-12.8C472,1.6,472,1.5,472,1.5z M158.5,35.9c0-13.5,10.9-24.5,24.5-24.5
               					s24.5,10.9,24.5,24.5c0,4.3-1,8.5-3.3,12.3L177,31.4v13.7l19.1,11.6c-4,2.4-8.5,3.8-13.2,3.8c-13.4,0.1-24.3-10.6-24.4-24
               					L158.5,35.9 M182.9,0c-19.8,0.1-35.9,16.2-35.8,36s16.2,35.9,36,35.8c8.6,0,16.9-3.2,23.4-8.8l12.2,7.4V57.2l-4.8-2.9
               					c3.2-5.6,4.8-11.9,4.8-18.3c0.2-19.7-15.7-35.8-35.3-35.9C183.2,0.1,183.1,0.1,182.9,0L182.9,0z M411.1,0c-19.8,0-36,16-36,35.9
               					s16,36,35.9,36c11.5,0,22.2-5.4,28.9-14.6l-8.4-8.4c-4.1,7.4-12,11.9-20.4,11.7c-13.9,0-24.3-10.6-24.3-24.5
               					s10.5-24.6,24.3-24.6c8.4-0.2,16.3,4.3,20.4,11.8l8.4-8.4C433.2,5.3,422.5-0.1,411.1,0L411.1,0z"/>
               			</defs>
               			<clipPath id="SVGID_00000150803817294721043130000012871518954860092333_">
                				<use xlink:href="#SVGID_1_"  style="overflow:visible;"/>
               			</clipPath>
               			<g style="clip-path:url(#SVGID_00000150803817294721043130000012871518954860092333_);">
                				<g id="Group_181">
               					<rect id="Rectangle_137" x="4.2" y="110.1" class="st0" width="485" height="71.8"/>
                				</g>
               			</g>
                		</g>
               	</g>
                </g>
                <g>
               	<path class="st2" d="M283.3,92.6c0.5-1.6,1.1-3.1,3.1-3.1s2.7,1.5,3.1,3.1l11.6,40.6c0.4,1.4-1.2,3-2.9,3c-1.9,0-2.8-1.6-3.2-3
                		l-2.2-7.2H280l-2.3,7.2c-0.4,1.4-1.4,3-3.2,3c-1.7,0-3.3-1.6-2.9-3L283.3,92.6z M286.5,103.8h-0.1l-4.7,16.3h9.4L286.5,103.8
                		L286.5,103.8z"/>
               	<path class="st2" d="M323.7,136.2c-4.5,0-7.1-1.8-9-5.7l-5.5-11.2c-1-2-1.6-4-1.6-6.3c0-2.6,0.5-4.3,1.7-6.7l5.5-11.1
                		c2-4.1,4.6-5.8,9.2-5.8h10.2c1.3,0,3,0.7,3,3c0,2.2-1.6,3-3,3h-10c-2.6,0-3,0.2-4.1,2.5l-5.2,10.4c-0.8,1.6-1.3,2.7-1.3,4.6
                		c0,1.7,0.5,2.7,1.3,4.1l5.1,10.4c1.2,2.5,1.8,2.6,4.5,2.6h9.8c1.3,0,3,0.7,3,3c0,2.2-1.6,3-3,3h-10.6V136.2z"/>
               	<path class="st2" d="M356.1,136.2c-4.5,0-7.1-1.8-9-5.7l-5.5-11.2c-1-2-1.6-4-1.6-6.3c0-2.6,0.5-4.3,1.7-6.7l5.5-11.1
                		c2-4.1,4.6-5.8,9.2-5.8h10.2c1.3,0,3,0.7,3,3c0,2.2-1.6,3-3,3h-10c-2.6,0-3,0.2-4.1,2.5l-5.2,10.4c-0.8,1.6-1.3,2.7-1.3,4.6
                		c0,1.7,0.5,2.7,1.3,4.1l5.1,10.4c1.2,2.5,1.8,2.6,4.5,2.6h9.8c1.3,0,3,0.7,3,3c0,2.2-1.6,3-3,3h-10.6V136.2z"/>
               	<path class="st2" d="M406.2,130.2c1.6,0,3,0.8,3,3s-1.4,3-3,3h-26.6V89.6h26.6c1.6,0,3,0.8,3,3s-1.4,3-3,3h-20.6v14.3h8.8
                		c1.6,0,3,0.8,3,3s-1.4,3-3,3h-8.8v14.3H406.2z"/>
               	<path class="st2" d="M444.3,124.5c1.2,1.6,2.1,2.9,2.1,5c0,4.5-3.4,6.8-7.6,6.8h-13.2c-2.3,0-4.3-0.4-6.1-1.9
                		c-1.6-1.3-2.8-3.5-2.8-5.6c0-1.9,1.1-3.6,3.2-3.6c1.7,0,2.8,1.4,2.8,3.1c0,1.8,1,2,2.6,2h13c0.5,0,2,0.2,2-0.7
                		c0-0.5-0.8-1.4-1.1-1.7l-20.5-26.6c-1.3-1.6-2-2.8-2-4.9c0-2.4,1.1-4.4,3.2-5.8c1.7-1.1,3.1-1.1,5-1.1h12.7c2.3,0,4.2,0.5,5.9,2
                		c1.6,1.4,2.8,3.6,2.8,5.7c0,1.9-1,3.5-3.1,3.5c-1.8,0-2.9-1.1-2.9-2.8c0-2-1-2.3-2.9-2.3h-12.7c-0.7,0-2-0.2-2,0.8
                		c0,0.5,0.7,1.3,0.9,1.6L444.3,124.5L444.3,124.5z"/>
               	<path class="st2" d="M481.5,124.5c1.2,1.6,2.1,2.9,2.1,5c0,4.5-3.4,6.8-7.6,6.8h-13.2c-2.3,0-4.3-0.4-6.1-1.9
                		c-1.6-1.3-2.8-3.5-2.8-5.6c0-1.9,1.1-3.6,3.2-3.6c1.7,0,2.8,1.4,2.8,3.1c0,1.8,1,2,2.6,2h13c0.5,0,2,0.2,2-0.7
                		c0-0.5-0.8-1.4-1.1-1.7l-20.6-26.5c-1.3-1.6-2-2.8-2-4.9c0-2.4,1.1-4.4,3.2-5.8c1.7-1.1,3.1-1.1,5-1.1h12.7c2.3,0,4.2,0.5,5.9,2
                		c1.6,1.4,2.8,3.6,2.8,5.7c0,1.9-1,3.5-3.1,3.5c-1.8,0-2.9-1.1-2.9-2.8c0-2-1-2.3-2.9-2.3h-12.7c-0.7,0-2-0.2-2,0.8
                		c0,0.5,0.7,1.3,0.9,1.6L481.5,124.5L481.5,124.5z"/>
                </g>
                </svg>

              </a>
              {{#toc}}{{/toc}}
              <ol class="chapter">
                  <li class="chapter-item">
                      <a href="https://www.frequencyaccess.com" class="nav-return">
                          Frequency Access Home
                      </a>
                  </li>
                  <li class="chapter-item">
                      <a href="https://github.com/ProjectLibertyLabs/siwa" class="nav-return">
                          Docs GitHub
                      </a>
                  </li>
              </ol>
            </div>
            <div id="sidebar-resize-handle" class="sidebar-resize-handle">
                <div class="sidebar-resize-indicator"></div>
            </div>
        </nav>

        <!-- Track and set sidebar scroll position -->
        <script>
            var sidebarScrollbox = document.querySelector('#sidebar .sidebar-scrollbox');
            sidebarScrollbox.addEventListener('click', function(e) {
                if (e.target.tagName === 'A') {
                    sessionStorage.setItem('sidebar-scroll', sidebarScrollbox.scrollTop);
                }
            }, { passive: true });
            var sidebarScrollTop = sessionStorage.getItem('sidebar-scroll');
            sessionStorage.removeItem('sidebar-scroll');
            if (sidebarScrollTop) {
                // preserve sidebar scroll position when navigating via links within sidebar
                sidebarScrollbox.scrollTop = sidebarScrollTop;
            } else {
                // scroll sidebar to current active section when navigating via "next/previous chapter" buttons
                var activeSection = document.querySelector('#sidebar .active');
                if (activeSection) {
                    activeSection.scrollIntoView({ block: 'center' });
                }
            }
        </script>

        <div id="page-wrapper" class="page-wrapper">

            <div class="page">
                {{> header}}
                <div id="menu-bar-hover-placeholder"></div>
                <div id="menu-bar" class="menu-bar sticky">
                    <div class="left-buttons">
                        <label id="sidebar-toggle" class="icon-button" for="sidebar-toggle-anchor" title="Toggle Table of Contents" aria-label="Toggle Table of Contents" aria-controls="sidebar">
                            <i class="fa fa-bars"></i>
                        </label>
                        <button id="theme-toggle" class="icon-button" type="button" title="Change theme" aria-label="Change theme" aria-haspopup="true" aria-expanded="false" aria-controls="theme-list">
                            <i class="fa fa-paint-brush"></i>
                        </button>
                        <ul id="theme-list" class="theme-popup" aria-label="Themes" role="menu">
                            <li role="none"><button role="menuitem" class="theme" id="light">{{ theme_option "Light" }}</button></li>
                            <li role="none"><button role="menuitem" class="theme" id="coal">{{ theme_option "Dark" }}</button></li>
                        </ul>
                        {{#if search_enabled}}
                        <button id="search-toggle" class="icon-button" type="button" title="Search. (Shortkey: s)" aria-label="Toggle Searchbar" aria-expanded="false" aria-keyshortcuts="S" aria-controls="searchbar">
                            <i class="fa fa-search"></i>
                        </button>
                        {{/if}}
                    </div>

                    <h1 class="menu-title"></h1>

                    <div class="right-buttons">
                        {{#if print_enable}}
                        <a href="{{ path_to_root }}print.html" title="Print this book" aria-label="Print this book">
                            <i id="print-button" class="fa fa-print"></i>
                        </a>
                        {{/if}}
                        {{#if git_repository_url}}
                        <a href="{{git_repository_url}}" title="Git repository" aria-label="Git repository">
                            <i id="git-repository-button" class="fa {{git_repository_icon}}"></i>
                        </a>
                        {{/if}}
                        {{#if git_repository_edit_url}}
                        <a href="{{git_repository_edit_url}}" title="Suggest an edit" aria-label="Suggest an edit">
                            <i id="git-edit-button" class="fa fa-edit"></i>
                        </a>
                        {{/if}}

                    </div>
                </div>

                {{#if search_enabled}}
                <div id="search-wrapper" class="hidden">
                    <form id="searchbar-outer" class="searchbar-outer">
                        <input type="search" id="searchbar" name="searchbar" placeholder="Type to search..." aria-controls="searchresults-outer" aria-describedby="searchresults-header">
                    </form>
                    <div id="searchresults-outer" class="searchresults-outer hidden">
                        <div id="searchresults-header" class="searchresults-header"></div>
                        <ul id="searchresults">
                        </ul>
                    </div>
                </div>
                {{/if}}

                <!-- Apply ARIA attributes after the sidebar and the sidebar toggle button are added to the DOM -->
                <script type="text/javascript">
                    document.getElementById('sidebar-toggle').setAttribute('aria-expanded', sidebar === 'visible');
                    document.getElementById('sidebar').setAttribute('aria-hidden', sidebar !== 'visible');
                    Array.from(document.querySelectorAll('#sidebar a')).forEach(function(link) {
                        link.setAttribute('tabIndex', sidebar === 'visible' ? 0 : -1);
                    });
                </script>

                <div id="content" class="content">
                    <main>
                        {{{ content }}}
                    </main>

                    <nav class="nav-wrapper" aria-label="Page navigation">
                        <!-- Mobile navigation buttons -->
                        {{#previous}}
                            <a rel="prev" href="{{ path_to_root }}{{link}}" class="mobile-nav-chapters previous" title="Previous chapter" aria-label="Previous chapter: {{title}}" aria-keyshortcuts="Left">
                                <i class="fa fa-angle-left"></i> {{title}}
                            </a>
                        {{/previous}}

                        {{#next}}
                            <a rel="next" href="{{ path_to_root }}{{link}}" class="mobile-nav-chapters next" title="Next chapter" aria-label="Next chapter: {{title}}" aria-keyshortcuts="Right">
                                {{title}} <i class="fa fa-angle-right"></i>
                            </a>
                        {{/next}}

                        <div style="clear: both"></div>
                    </nav>
                </div>
            </div>

        </div>

        {{#if live_reload_endpoint}}
        <!-- Livereload script (if served using the cli tool) -->
        <script>
            const wsProtocol = location.protocol === 'https:' ? 'wss:' : 'ws:';
            const wsAddress = wsProtocol + "//" + location.host + "/" + "{{{live_reload_endpoint}}}";
            const socket = new WebSocket(wsAddress);
            socket.onmessage = function (event) {
                if (event.data === "reload") {
                    socket.close();
                    location.reload();
                }
            };

            window.onbeforeunload = function() {
                socket.close();
            }
        </script>
        {{/if}}

        {{#if search_js}}
        <script src="{{ path_to_root }}elasticlunr.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{ path_to_root }}mark.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{ path_to_root }}searcher.js" type="text/javascript" charset="utf-8"></script>
        {{/if}}

        <script src="{{ path_to_root }}clipboard.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{ path_to_root }}highlight.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{ path_to_root }}book.js" type="text/javascript" charset="utf-8"></script>

        <!-- Custom JS scripts -->
        {{#each additional_js}}
        <script type="text/javascript" src="{{ ../path_to_root }}{{this}}"></script>
        {{/each}}

        {{#if is_print}}
        {{#if mathjax_support}}
        <script type="text/javascript">
        window.addEventListener('load', function() {
            MathJax.Hub.Register.StartupHook('End', function() {
                window.setTimeout(window.print, 100);
            });
        });
        </script>
        {{else}}
        <script type="text/javascript">
        window.addEventListener('load', function() {
            window.setTimeout(window.print, 100);
        });
        </script>
        {{/if}}
        {{/if}}

    </div>
    </body>
</html>
